.main-window {
	padding-top: 80px;
	font-size: 1.75em;

	@media screen and (max-width: 767px) {
		padding-top: 40px;

		.pull-left, .pull-right {
			width: 100%;
			text-align: center;
		}

		.pull-right {
			margin-top: 20px;
		}
	}
	.rowline {
		padding: 10px 9px 20px 12px;
		display: inline-block;
		width: 44%;
		margin-right: 3%;
		margin-bottom: 10px;
		text-align: center;
		background: rgba(32, 102, 212, 0.1);
	}

	.btn-action {
		$height: 40px;
		$lheight: 30px;
		height: $height;
		width: $height;
		margin: 20px 20px 0px 0px;
		line-height: $lheight;
		text-align: center;
		border-radius: 50%;
		border: solid 2px $main-color;
		cursor: pointer;
		transition-duration: 0.25s;
		background-color: transparent;
		font-size: 18px;

		&:hover {
			background-color: rgba($main-color, 0.2);
		}
	}

	.txt-clientId {
		height: 40px;
		margin: 40px auto 0px 10px;
		color: $main-color;
		font-size: 0.9em;
		background-color: transparent;
		border: none;
		border-bottom: solid 1px $main-color;
		@include input-placeholder(rgba($main-color, 0.8));
	}

	.txt-field {
		height: 40px;
		margin: 15px auto 0px 10px;
		color: $main-color;
		font-size: 0.9em;
		background-color: transparent;
		border: none;
		border-bottom: solid 1px $main-color;
		@include input-placeholder(rgba($main-color, 0.8));
	}

	.login-forms{
		width: 400px;
		margin: 0px auto;
		padding: 30px;
	}
	.login-title {
		padding: 0px 14px;
		margin: 0px;
	}

	.btnSubmit {
		padding: 10px 28px;
		min-width: 130px;
	}

	.errmsg {
		font-size: 14px;
		margin: 0px 15px 20px;
		background: #c13737;
		padding: 10px 10px;
		border-radius: 3px;
	}

}

